<!DOCTYPE html>
<html>
<head>
  <title>SlcoCourtCalendarService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header>
    <h1>Salt Lake County (SLCo) Court Calendar Service</h1>

    <% unless developer_account_signed_in? %>
    <p>
      <%= link_to "Sign Up", new_developer_account_registration_path %> |
      <%= link_to "Sign In", new_developer_account_session_path %>
    </p>
    <% else %>
    <p>
      <%= link_to "Documentation", api_key_path %> |
      <%= link_to "Log Out", destroy_developer_account_session_path, :method => :delete %>
    </p>
    <% end %>
  </header>

  <%= yield %>

  <footer style="margin-top:2em;">
    <p>
      <%= link_to "source", "https://github.com/slco-2016/slco-court-calendar-service/" %>
    </p>
  </footer>

</body>
</html>
